block content
.about-wrap#about
  .about-overlay
    .container
      .row
        .col-lg-5.col-sm-6
          h2 庄子 · 逍遥游
          p 北冥有鱼，其名为鲲。鲲之大，不知其几千里也。化而为鸟，其名为鹏。鹏之背，不知其几千里也；怒而飞，其翼若垂天之云。是鸟也，海运则将徙于南冥。南冥者，天池也。
        .col-lg-5.col-lg-offset-2.col-sm-6.collapse.navbar-collapse
          .about-pic-wrap

