// mixin
mixin snsIcon(type)
  case type
    when "github"
      i.fa.fa-github.fa-fw
    when "google"
      i.fa.fa-google.fa-fw
    when "codepen"
      i.fa.fa-codepen.fa-fw

mixin snsItem(h, text, type)
  li
    a.btn.btn-default.btn-lg.btn-sns(href=h target="_blank")
      +snsIcon(type)
      span=text

block content
  // #home
  .intro-wrap#home
    .intro-overlay
      .container
        .row
          .col-lg-12
            .intro-content
              h1
                span 一腔热血的激情
                span.intro-content-divider  ·
                span 一夜失眠的创意
                span.intro-content-divider  ·
                span 一个像素的执着
              h3 网站前端开发工程师
                hr.intro-divider
                ul.list-inline.btn-sns-list
                  +snsItem("https://github.com/black-black-cat", "Github", "github")
                  +snsItem("https://plus.google.com/u/0/117734291158579922974", "Google", "google")
                  +snsItem("http://codepen.io/black-black-cat/", "Codepen", "codepen")
              br
