mixin item(imgSrc, title, desc)
  .col-md-4.col-sm-6.project-item
    a.project-link(href="#" target="_blank" data-toggle="modal")
      .project-hover
        .project-hover-content
          i.fa.fa-fire.fa-3x
      img.img-responsive(src=imgSrc)
    .project-caption
      h4=title
      p.text-muted=desc


#project.project-wrap
  .porject-overlay
    .container
      .row
        .col-lg-12.text-conter
          h2.project-title 最近开发的项目
            h3
    .container
      .row
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")
      .row
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")
        +item("http://puui.qpic.cn/tv/0/4581898_220308/0", "placeholder", "Bootstrap and Angularjs")


